*.xlsx
.ipynb_checkpoints/*
__pycache__/*
framework/__pycache__/*
framework/.ipynb_checkpoints/*
Appendix/*
Classifiers/*
EMBC/*
Front-End/*
SPOCC/*
p28.ipynb
SPOCC.ipynb
EMBC.ipynb
Synthetic Cytoskeletons.ipynb
Renamer.ipynb
.ipynb_checkpoints/*
.vscode/*